  <div class="nested-fields question-form">
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_field :content, class:"form-control" %>
      <%= link_to_remove_association t(".remove_question"), f %>
    </div>
    <div>
      <h4><%= t ".options" %></h4>
        <div id="options">
          <%= f.fields_for :options do |option| %>
            <%= render "option_fields", f: option %>
          <% end %>
        </div>
        <div>    
          <%= link_to_add_association t(".add_option"), f, :options, class: "link" %>
        </div>
    </div>
  </div>
