<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= t ".test" %></th>
      <th scope="col"><%= t ".category" %></th>
      <th scope="col"><%= t ".questions" %></th>
      <th scope="col"><%= t ".members" %></th>
      <th scope="col" colspan="4"><%= t ".action" %></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tests %>
  </tbody>
</table>
