<tr>
  <td><%= t(".test", id: test.id) %></td>
  <td><%= test.category.title %></td>
  <td><%= test.questions.count %></td>
  <td><%= test.members.count %></td>
  <td><%= link_to t(".show"), dashboard_test_path(test), class:"btn btn-primary" %></td>
  <% if test.draff? %>
    <td><%= link_to t(".publish"), publish_dashboard_test_path(test), class:"btn btn-success" %></td>  
    <td><%= link_to t(".edit"), edit_dashboard_test_path(test), class:"btn btn-info" %></td>
    <td>
      <%= link_to t(".delete"), dashboard_test_path(test), method: :delete, 
      data:{confirm: t(".confirm")}, class: "btn btn-danger" %>
    </td>
  <% elsif test.publish? && test.members.count == 0 %>
    <td><%= link_to t(".draff"), draff_dashboard_test_path(test), class:"btn btn-warning" %></td>  
    <td><button class="btn btn-info" disabled><%= t ".edit" %></button></td>
    <td><button class="btn btn-danger" disabled><%= t ".delete" %></button></td>
  <% else %>
    <td><button class="btn btn-secondary" disabled><%= t ".published" %></button></td>
    <td><button class="btn btn-secondary" disabled><%= t ".edit" %></button></td>
    <td><button class="btn btn-secondary" disabled><%= t ".delete" %></button></td>
  <% end %>
</tr>
