<div><%= render "breadcrumb" %></div>

<h2><%= t(".test", id: @test.id) %></h2>
<h3>Members: <%= @test.members.count %></h3>

<div>
  <ul class="list-group">
    <% @test.questions.each_with_index do |question, i| %>
      <li class=list-group-item>
        <p><%= i+1 %>. <%= question.content %></p>
        <ul>
          <% question.options.each do |option| %>
            <li>
              <%= radio_button_tag option.id, option.id, option.right?, disabled: true %>
              <%= label_tag option.content %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
