<div><%= render "breadcrumb" %></div>

<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><%= t ".category" %></th>
        <th scope="col"><%= t ".tests" %></th>
        <th scope="col" colspan="3"><%= t ".actions" %></th>
      </tr>
    </thead>

    <tbody>
      <%= render @categories %>
    </tbody>
  </table>
</div>
