<h1><%= current_user_member.name %></h1>
<p>Email: <%= current_user_member.email %></p>
<p>Gender: <%= current_user_member.gender %></p>
<p>Tests: <%= current_user_member.tests.count %></p>

<%= link_to "Finshed tests", user_user_tests_path %>
