<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= t ".test" %></th>
      <th scope="col"><%= t ".category" %></th>
      <th scope="col"><%= t ".score" %></th>
      <th scope="col"><%= t ".time" %></th>
      <th scope="col"><%= t ".action" %></th>
    </tr>
  </thead>

  <tbody>
    <%= render @user_tests %>
  </tbody>
</table>
